In [5]:
import opendatasets as od
import matplotlib as plt
import pandas as pd

In [6]:
od.download(
    "https://www.kaggle.com/datasets/shubhammehta21/movie-lens-small-latest-dataset")

Skipping, found downloaded files in ".\movie-lens-small-latest-dataset" (use force=True to force download)

In [7]:
file2 = pd.read_csv("movie-lens-small-latest-dataset/movies.csv")

In [8]:
file = pd.read_csv("movie-lens-small-latest-dataset/ratings.csv")

In [9]:
file.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
file = file.drop(columns=['timestamp'])

In [11]:
group = file.groupby('movieId')

In [12]:
file['userId'].value_counts().mean()

165.30491803278687

In [13]:
file2.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [14]:
novo_df = pd.concat([file, file2.iloc[:, 1:3]], axis=1)
novo_df = novo_df.drop(novo_df.columns[3], axis=1)
print(novo_df.head())

   userId  movieId  rating                                       genres
0       1        1     4.0  Adventure|Animation|Children|Comedy|Fantasy
1       1        3     4.0                   Adventure|Children|Fantasy
2       1        6     4.0                               Comedy|Romance
3       1       47     5.0                         Comedy|Drama|Romance
4       1       50     5.0                                       Comedy

In [15]:
nota_input = float('4')

novo_df = novo_df[novo_df['rating'] == nota_input]

print(novo_df)

        userId  movieId  rating                                       genres
0            1        1     4.0  Adventure|Animation|Children|Comedy|Fantasy
1            1        3     4.0                   Adventure|Children|Fantasy
2            1        6     4.0                               Comedy|Romance
7            1      110     4.0                           Adventure|Children
14           1      235     4.0                     Action|Adventure|Romance
...        ...      ...     ...                                          ...
100813     610   157296     4.0                                          NaN
100824     610   161582     4.0                                          NaN
100825     610   161634     4.0                                          NaN
100830     610   166528     4.0                                          NaN
100831     610   166534     4.0                                          NaN

[26818 rows x 4 columns]